{% extends "base_templates/page_layout_base.html" %}
{% block page_content %}

{% if user_actions_logs|length > 0 %}
    {% for log in user_actions_logs %}
        <div class="content-item">
            <div class="item-header">
                <h2>
                    {{ log.date }}
                </h2>
            </div>
            <div class="item-content">
                {{ log.content }}
            </div>
        </div>
    {% endfor %}
{% else %}
    No updates...
{% endif %}

{% endblock %}