{% extends "base_templates/page_layout_base.html" %}
{% block page_content %}

{% if user_actions_logs|length > 0 %}
    {% for log in user_actions_logs %}
        <div class="content-item">
            <div class="item-header">
                <h2>
                    {{ log.date }}
                </h2>
            </div>
            <div class="item-content">
                {{ log.content }}
            </div>
        </div>
    {% endfor %}
    {% if user_actions_logs_pagination.has_next or user_actions_logs_pagination.has_prev %}
        <div class="pagination-controls">
            {% if user_actions_logs_pagination.has_prev %}
                <a class="pagination-controls-item" href="{{ url_for('main_app.home', page_id=user_actions_logs_pagination.prev_num) }}">
                    Prev
                </a>
            {% endif %}
            {% if user_actions_logs_pagination.has_next %}
                <a class="pagination-controls-item" href="{{ url_for('main_app.home', page_id=user_actions_logs_pagination.next_num) }}">
                    Next
                </a>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    No updates...
{% endif %}

{% endblock %}