{% extends "base_templates/page_layout_base.html" %}
{% block page_content %}

<div class="content-item">
    <div class="item-header">
        <h2>
            Add Project Member
        </h2>
    </div>
    <div class="item-content">
        <form action="{{ url_for('projects.add_project_member', project_id=project.id) }}" method="POST" class="default-form">
            {% with form=add_project_member_form %}
                {% include "components/form_component.html" %}
            {% endwith %}

            <button class="form-add-button" type="submit">
                Add
            </button>
        </form>
    </div>
</div>

{% endblock %}