{% extends "base_templates/page_layout_base.html" %}
{% block page_content %}

<div class="content-item">
    <div class="item-header">
        <h2>
            {{ project.name }}
        </h2>
    </div>
    <div class="item-content">
        <div>
            Owner: {{ project.get_owner_name() }}
        </div>
        <div>
            <a href="{{ url_for('download.download_project_report', project_name=project.name) }}">
                Download Project Report
            </a>
        </div>
        <button type="button" class="collapsible-toggle-button" onclick="toggleCollapsible('members-collapsible');">
            Members
        </button>
        <div id="members-collapsible" class="collapsible-content">
            {% if current_user.id == project.owner or current_user.is_admin() %}
                <p>
                    <a href="{{ url_for('projects.add_project_member', project_name=project.name) }}">
                        Add Project Member
                    </a>
                </p>
            {% endif %}

            {% if project.members|length > 0 %}
                 <div class="members-container">
                    {% for member in project.members %}
                        <div class="member-container">
                            <form action="{{ url_for('projects.remove_project_member', project_name=project.name, member_email=member.email) }}" method="POST">
                                {{ member.username }}

                                {% if current_user.id == project.owner or current_user.is_admin() %}
                                    <button class="remove-member-button" type="submit">
                                        Remove
                                    </button>
                                {% endif %}
                            </form>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="project-issues-table-container">
            <table class="data-table">
                <tr>
                    {% for header in issues_struct['headers'] %}
                        <th>
                            {{ header }}
                        </th>
                    {% endfor %}
                </tr>
                {% for issue_id in issues_struct['content'] %}
                    <tr onclick="window.location='{{ url_for('issues.preview_issue', issue_id=issue_id) }}';">
                        {% for data in issues_struct['content'][issue_id] %}
                            <td>
                                {{ data }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% if current_user.id == project.owner or current_user.is_admin() %}
            <form class="default-form" action="{{ url_for('projects.remove_project', project_name=project.name) }}" method="POST">
                <button class="form-remove-button" type="submit">
                    Remove
                </button>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}