{% extends "base_templates/page_layout_base.html" %}
{% block page_content %}

<div class="content-item">
    <div class="item-header">
        <h2>
            {{ project.name }}
        </h2>
    </div>
    <div class="item-content">
        <div>
            Owner: {{ project.get_owner_name() }}
        </div>
        <div>
            <a href="{{ url_for('projects.add_project_member', project_name=project.name) }}">
                Add Project Member
            </a>

            {% for member in project.members %}
                <p>
                    {{ member.username }}
                </p>
            {% endfor %}
        </div>
        <div>
            {% for issue in project.issues %}
                <a href="{{ url_for('issues.preview_issue', issue_id=issue.id) }}">
                    <p>
                        #{{ issue.id }} {{ issue.title }}
                    </p>
                </a>
            {% endfor %}
        </div>
        {% if current_user.id == project.owner or current_user.is_admin() %}
            <form class="default-form" action="{{ url_for('projects.remove_project', project_name=project.name) }}" method="POST">
                <button class="form-remove-button" type="submit">
                    Remove
                </button>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}