{% extends "base_templates/page_layout_base.html" %}
{% block page_content %}

<div class="content-item">
    <div class="item-header">
        <h2>
            Account Registration
        </h2>
    </div>
    <div class="item-content">
        <form action="{{ url_for('admin.register_account') }}" method="POST" class="default-form">
            {% with form=registration_form %}
                {% include "components/form_component.html" %}
            {% endwith %}

            <button class="form-add-button" type="submit">
                Register
            </button>
        </form>
    </div>
</div>

{% endblock %}