{% extends "base_templates/page_layout_base.html" %}
{% block page_content %}

<div class="content-item">
    <div class="item-header">
        <h2>
            User: {{ user.username }}
        </h2>
    </div>
    <div class="item-content">
        <form action="{{ url_for('admin.update_user', user_id=user.id) }}" method="POST" class="admin-form">
            {% with form=update_user_form %}
                {% include "components/form_component.html" %}
            {% endwith %}

            <button type="submit">
                Update
            </button>
        </form>
    </div>
</div>

{% endblock %}