{% extends "base_templates/page_layout_base.html" %}
{% block page_content %}

<div class="table-container">
    <table class="data-table">
        <tr>
            {% for header in table_struct['headers'] %}
                <th>
                    {{ header }}
                </th>
            {% endfor %}
        </tr>
        {% for user_id in table_struct['content'] %}
            <tr onclick="window.location='{{ url_for('admin.preview_user', user_id=user_id) }}';">
                {% for data in table_struct['content'][user_id] %}
                    <td>
                        {{ data }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% if users.has_next or users.has_prev %}
        <div class="pagination-controls">
            {% if users.has_prev %}
                <a class="pagination-controls-item" href="{{ url_for('admin.users_preview', page_id=users.prev_num) }}">
                    Prev
                </a>
            {% endif %}
            {% if users.has_next %}
                <a class="pagination-controls-item" href="{{ url_for('admin.users_preview', page_id=users.next_num) }}">
                    Next
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>

{% endblock %}