{% extends "base.html" %}
{% block content %}

<div class="main-container">
    <div class="app-version-container">
        {{ config['APP_VERSION'] }}
    </div>
    <div class="horizontal-centered-container">
        <div class="vertical-centered-container">
            <div class="login-container">
                <div class="login-header">
                    Flask Bug Tracker (FBT)
                </div>
                <div class="login-form">
                    <form action="{{ url_for('auth.login') }}" method="POST">
                        {% with form=login_form %}
                            {% include "components/form_component.html" %}
                        {% endwith %}

                        <button class="login-submit-button" type="submit">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}