{{ form.csrf_token }}

<div class="form-inputs">
    {% for field in form %}
        {% if field.type not in form.html_ignored_fields %}
            <div class="form-input">
                <label for='{{ field.label }}'>
                    {{ field.label }}
                </label>
                <p>
                    {{ field }}
                </p>
            </div>
            <div class="form-errors">
                {% for error in field.errors %}
                    <p>
                        {{ error }}
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>
