{{ form.csrf_token }}

<div class="form-inputs">
    {% for field in form %}
        {% if field.type not in form.html_ignored_fields %}
            <div class="form-input">
                <label for='{{ field.label }}'>
                    {{ field.label }}
                </label>
                <span>
                    {{ field }}
                </span>
            </div>
            <div class="form-errors">
                {% for error in field.errors %}
                    <span>
                        {{ error }}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>
