{% extends "base.html" %}
{% block content %}

<p>
    Login
</p>
<p>
    <form action="{{ url_for('auth.login') }}" method="POST">
        {{ login_form.csrf_token }}

        {% for field in login_form %}
            {% if field.type not in login_form.html_ignored_fields %}
                <p>
                    {{ field.label }}
                    {{ field }}
                </p>

                {% for error in field.errors %}
                    <p>
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
        {% endfor %}

        <button type="submit">Login</button>
    </form>
</p>

{% endblock %}