{% extends "base_templates/page_layout_base.html" %}
{% block page_content %}

<div class="content-item">
    <div class="item-header">
        <h2>
            Issue: #{{ issue.id }}
        </h2>
    </div>
    <div class="item-content">
        <form class="default-form" action="{{ url_for('issues.update_issue', issue_id=issue.id) }}" method="POST">
            {% with form=issue_form %}
                {% include "components/form_component.html" %}
            {% endwith %}

            {% if current_user.id == issue.project.owner or current_user.is_admin() %}
                <button class="form-add-button" type="submit">
                    Update
                </button>
            {% endif %}
        </form>
        {% if current_user.id == issue.owner or current_user.is_admin() %}
            <form class="default-form" action="{{ url_for('issues.remove_issue', issue_id=issue.id) }}" method="POST">
                <button class="form-remove-button" type="submit">
                    Remove
                </button>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}