{% extends "base_templates/page_layout_base.html" %}
{% block page_content %}

{% if True %}
    <div class="table-container">
        <table class="data-table">
            <tr>
                {% for header in table_struct['headers'] %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
            {% for issue_id in table_struct['content'] %}
                <tr onclick="window.location='#';">
                    {% for data in table_struct['content'][issue_id] %}
                        <td>
                            {{ data }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="content-item">
        <div class="item-content">
            <span>
                No issues to show
            </span>
            <span>
                <a href="{{ url_for('issues.add_issue') }}">
                    Create one
                </a>
            </span>
        </div>
    </div>
{% endif %}

{% endblock %}